body {
  margin: 0;
  font-family: "roboto";
  font-style: italic;
  font-weight: 300;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  font-family: "Poppins" !important;
  font-style: italic !important;
}

.modal {
  z-index: 10;
  position: fixed;
  top: 0;
}
